
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="pid.js"></script>

<form name="modulo" >

		<td>Scegli la collezione per elenco dei suoi membri</td>
		<td>
			<select id="selCollezione" name="collezione">
				<option value="269365">269365</option>
				<option value="269435">269435</option>
				<option value="74545">74545</option>
				<option value="72829">72829</option>
				<option value="62064">62064</option>
				<option value="62504">62504</option>
				<option value="63964">63964</option>
				<option value="13368">13368</option>
				<option value="46276">46276</option>
				<option value="12473">12473</option>
				<option value="8587">8587</option>
				<option value="27271">27271</option>
			    <option value="11845">11845</option>
				<option value="75413">75413</option>
			    <option value="307311">307311</option>
				<option value="62039">62039</option>

								
			</select>
			
			<select id="selMembri" name="membri"></select>

				
			

		</td>
	</tr>
	
	<tr>

		<td colspan="2" align="center"><button onClick="loadPids(); return false;" >INVIA</button></td>
		
		<div id="dc"></div>
		
		<hr/>
		<div id="relatedContainer"></div>

		




		
	</tr>
</table>
</form>



