





<form name="post-form" id="post-form">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
     
    <label for="status">Status</label>
    <select name="status" id="status">
        <option value="publish">Publish</option>
        <option value="draft">Draft</option>
    </select>
     
    <label for="content">Content</label>
    <textarea name="content" id="content"></textarea>
     
    <input type="submit" name="submit" value="Submit">
</form>








var postForm = $( '#post-form' );
 
var jsonData = function( form ) {
    var arrData = form.serializeArray(),
        objData = {};
     
    $.each( arrData, function( index, elem ) {
        objData[elem.name] = elem.value;
    });
     
    return JSON.stringify( objData );
};
 
postForm.on( 'submit', function( e ) {
    e.preventDefault();
     
    $.ajax({
        url: 'http://localhost/wordpress/wp-json/wp/v2/posts',
        method: 'POST',
        data: jsonData( postForm ),
        crossDomain: true,
        contentType: 'application/json',
        beforeSend: function ( xhr ) {
            xhr.setRequestHeader( "authorization": "Basic d29yZHByZXNzOndvcmRwcmVzcw==" );
        },
        success: function( data ) {
            console.log( data );
        },
        error: function( error ) {
            console.log( error );
        }
    });
});